<section>
    <div class="container">
        <div class="row" style="padding-top: 138px">
        <div class="col-lg-2 col-lg-offset-4"><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="dbcouch.address"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 52px">
        <div class="col-lg-2 col-lg-offset-4"><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="dbcouch.age"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 58px">
        <div class="col-lg-1 col-lg-offset-4"><button class="btn btn-primary" (click)="create_DbCouch()" style="width: 100%;">Button</button>
        </div>
        </div>
        <div class="row" style="padding-top: 124px">
        <div class="col-lg-1 col-lg-offset-4"><button class="btn btn-primary" (click)="get_all_DbCouch()" style="width: 100%;">Button</button>
        </div>
        </div>

    </div>
</section>
